<footer>
    <div class="footer-content">
        <ul>
            <li>Alojamento local 30932/AL</li>
            <li>+351 249 327 086</li>
            <li>stay@casadasflores.eu</li>
            <li>
                <div class="socials">
                    <a href="https://www.instagram.com/wonderland_trove"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.instagram.com/wonderland_trove"><i class="fab fa-facebook"></i></a>
                </div>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>