<nav>
    <ul>
        <li class="active"><a href="/">About</a></li>
        <li><a href="/our-home">Our Home</a></li>
        <li><a href="/experiences">Experiences</a></li>
        <li><a href="/things-to-do">Things to Do</a></li>
        <li class="button"><a href="/stay"><button class="menu-button">Book your Stay</button></a></li>
    </ul>
</nav>