* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}


.cta {
    width: 100%;
    display: flex;
    align-items: center;
}

.socials {
    display: inline;
}

.socials a {
    margin: 0em 0.5em;
}

.fa-instagram {  
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
}  

.fa-facebook {  
    color: #3B5998;  
    font-size: 2.5em;
}  

body {
    background-image: url("../images/azulejo3.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-button {
    font-size: 22px;
    margin-right: 2em;
}

nav {
    margin-bottom: 3em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


main {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 550px) {
    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        width: fit-content;
        min-width: 75%;
    }
}

@media only screen and (max-width: 776px) and (min-width: 550px) {
    nav {
        width: 95%;
    }
}

@media only screen and (min-width: 776px) {
    nav {
        width: 80%;
    }
}

@media only screen and (min-width: 550px) {
    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
        align-items:  center;
    }
}

nav ul, footer ul {
    display: flex;
    width: 100%; 
}

footer ul {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer li {
    padding: 0.5em;
    text-align: center;
}

.inner {
    width: 80%;
    box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),
                    10px 10px 30px 4px rgba(45,78,255,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
}

nav, .inner {
    background-color: white;
}

li {
    margin: 0.7em 0em;
    list-style: none;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}


li a:hover {
    text-decoration: underline 3px #FDB130;
}


.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.title h1 {
    margin: 0.4em 0em 0.1em 0em;
}

.inner div {
    width: 90%;
}

button {
    padding: 0.3em 0.5em;
    font-weight: 700;
    background-color: white;
    border: solid 1px #9CBDED;
    color: #9CBDED;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    border: solid 1px black;
    color: black;
}


h1 {
    font-family: 'Tangerine', cursive;
    font-size: 5em;
    color: #2657BE;
    text-align: left;
}



.title p {
    font-size: 1.5em;
    color: #2657BE;
}


i {
    font-weight: 300;
    color: white;
    font-size: 16px;
}

footer {
    width: 100%;
    margin-top: 5em;
}

.footer-content {
    width: 100%;
    background-color: white;
    padding: 0.5em 0em;
}

h2 {
    font-family: 'Tangerine', cursive;
    font-size: 3.4em;
    margin-top: 0.5em;
    color: #2657BE;
}
