<%- include('./partials/header')%>
<main>
    <div class="inner">
        <div class="title">
            <h1>Casa das Flores</h1>
            <p>Bed and Breakfast</p>
        </div>
    </div>
</main>
<%- include('./partials/footer')%>